.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

public
!public/CNAME
resources/*
nohup.out
.DS_Store
trace.out
.idea
node_modules
.hugo_build.lock
tools/adjust-algolia-output/adjust-algolia-output
tools/push-to-algolia/push-to-algolia
